<div class="form" [formGroup]="formUser">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
    @if (email?.hasError('required')) {
    <mat-error>Campo obrigatório</mat-error>
    } @if (email?.hasError('email')) {
    <mat-error>Email inválido</mat-error>
    }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input matInput formControlName="password" />
    @if (password?.hasError('required')) {
    <mat-error>Campo obrigatório</mat-error>
    }
  </mat-form-field>
</div>
